<h1>Your Cart</h1>

<% if notice %>
  <p><%= notice %></p>
<% end %>

<%if @this_cart%>
<% @this_cart.line_items.each do |line_item| %>
  <p><%= link_to line_item.item.title, item_path(line_item.item) %> | <%= number_to_currency(line_item.item.price.to_f / 100.to_f) %> | Quantity: <%= line_item.quantity %> | <% if line_item.item.inventory < 5 %>
    <strong>There are only <%= line_item.item.inventory %> left in stock.</strong>
  <% end %> </p>
<% end %>

<p>Order total: <strong><%= number_to_currency(@this_cart.total.to_f / 100.to_f) %></strong> </p>

<%= button_to 'Checkout', cart_path(@this_cart), :method => :patch %>
<%else%>
  No items here yet!
  <% end %>
